* {
	font: 12px Verdana;
}
.tooltip {
	z-index: 999;
	left: -9999px;
	background-color: #ccc;
	border: 1px solid #eee;
	padding: 3px;
	position: absolute;
}
.tooltip p {
	color: #fff;
	background-color: #222;
	padding: 3px 6px;
	margin: 0;
}
.tooltip img {
	background-color: #222;
	border: 5px solid #222;
	display: block;
}
.hover {
	color: #fa0;
	cursor: default;
}
